


<section class="content push_top_40">
    <div class="form-container">
        <fieldset>
            <div class="input_row">
                <label for="projectKey" ><strong>Application</strong> <em>*</em></label>
                <select id="projectKey" {{isEnabled}} class="select_list half big">
                {{#each project}}
                  <option value="{{key}}">{{name}}</option>
                {{/each}}
                </select>

            </div>
            <div class="input_row">
                <label for="summary" ><strong>Summary</strong> <em>*</em></label>
                <input type='text' id='summary' name="summary" placeholder="Issue Summary" maxlength="255" class="half required"/>
            </div>


            <div class="input_row">
                <label for="description" >Description</label>
                <textarea name='description' id='description' rows="5" cols="10" class="half" maxlength="250"></textarea>
            </div>


            <div class="input_row">
                <label for="type" ><strong>Type</strong> <em>*</em></label>
                <select id='type' class="select_list half big">
                    <option value="NEW_FEATURE">New Feature</option>
                    <option value="BUG">Bug</option>
                    <option value="TASK">Task</option>
                    <option value="IMPROVEMENT">Improvement</option>
                    <option value="WISH">Wish</option>
                    <option value="MODERATION">Moderation</option>
                    <option value="VULNERABILITY">Security Vulnerability</option>
                    <option value="EPIC">Epic</option>
                    <option value="STORY">Story</option>
                    <option value="PATCH">Patch</option>
                </select>
            </div>

            <div class="input_row">
                <label for="priority" ><strong>Priority</strong> <em>*</em></label>
                <select id="priority" class="select_list half big">
                 <option value="HIGHEST">Highest</option>
                 <option value="HIGH">High</option>
                 <option value="NORMAL">Normal</option>
                 <option value="LOW">Low</option>
                 <option value="LOWEST">Lowest</option>
               </select>
            </div>

            <div class="input_row">
                <label for="issue_status" ><strong>Status</strong> <em>*</em></label>
                <select id="issue_status" class="select_list half big">
                   <option value="OPEN">Open</option>
                   <option value="RESOLVED">Resolved</option>
                   <option value="INPROGRESS">In Progress</option>
                   <option value="CLOSED"">Closed</option>
                 </select>
            </div>

            <div class="input_row">
                <label for="assignee" ><strong>Assignee</strong> <em>*</em></label>
                <select id="assignee" name="assignee" class="select_list half big">
                {{#each users}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
                </select>
               <!--<input type='text' id='assignee' name="assignee" placeholder="Assignee" maxlength="40" class="half required"/>-->
            </div>


            <div class="input_row">
                <label for="version" ><strong>Version</strong> <em>*</em></label>
               <select id='version' class="select_list half big"></select>

            </div>



            <div class="input_row">
                <label for="severity" ><strong>Severity</strong> <em>*</em></label>
                <select id="severity" class="select_list half big">
                    <option value="NONE">None</option>
                    <option value="BLOCKER">Blocker</option>
                    <option value="CRITICAL">Critical</option>
                    <option value="TRIVIAL">Trivial</option>
                    <option value="MAJOR">Major</option>
                    <option value="MINOR">Minor</option>
                 </select>
            </div>

        </fieldset>

        <div class="buttonrow">
            <input type="button" value="Add Issue" class="btn main" id='saveIssue' />

            <a href="/issuetracker/index.jag?appkey={{appkey}}">Cancel</a>
        </div>
    <input type="hidden" name="userName"  id="userName" value='<%= session.get("LOGGED_IN_USER") %>'/>

</div><!-- /form-container -->







