<!--BOF App factory menu actionbar -->
<div class="action-bar">
    <a href="/issuetracker/index.jag?appkey={{appkey}}" class="btn-action">
        <span class="fw-stack fw-lg btn-action-ico">
            <i class="fw fw-ring fw-stack-2x"></i>
            <i class="fw fw-left-arrow fw-stack-1x"></i>
        </span> Back to Issues
    </a>
</div><!-- EOF App factory menu actionbar-->

<div class="container-fluid cloud-container">
        <div class="row">
            <div class="col-md-5 forms">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="summary">Summary: </label>
                        <input type="text" class="form-control" id="summary" placeholder="Write a summary of your issue">
                    </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="type">Type: </label>
                    <select id="type" class="form-control select2">
                        <option value="BUG" data-icon="fa-bug">Bug</option>
                        <option value="TASK" data-icon="fa-tasks">Task</option>
                        <option value="NEW_FEATURE" data-icon="fa-plus">New Feature</option>
                        <option value="IMPROVEMENT" data-icon="fa-arrow-up">Improvement</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="priority">Priority: </label>
                    <select id="priority" class="form-control select2">
                        <option value="HIGHEST" data-icon="fa-angle-double-up">Highest</option>
                        <option value="HIGH" data-icon="fa-angle-up">High</option>
                        <option value="LOW" data-icon="fa-angle-down">Low</option>
                        <option value="LOWEST" data-icon="fa-angle-double-down">Lowest</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="reporter">Reporter: </label>
                    <select id="reporter" class="form-control select2">
                        <option value="1">{{loggedInUser}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="version">Version: </label>
                    <select id="version" class="form-control select2">
                    {{#each versions}}
                    <option value="{{id}}">{{version}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="severity">Severity: </label>
                    <select id="severity" class="form-control select2">
                        <option value="BLOCKER" data-icon="fa-ban">Blocker</option>
                        <option value="CRITICAL" data-icon="fa-exclamation">Critical</option>
                        <option value="NONE" data-icon="fa-circle-o">Non Critical</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="assignee">Assignee: </label>
                    <select id="assignee" class="form-control select2">
                    {{#each users}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">Description: </label>
                    <textarea class="form-control" rows="3" id="description" placeholder="Write a small description a"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="cu-btn cu-btn-sm cu-btn-blue" id="saveIssue">
                        <span class="fw-stack fw-lg btn-action-ico">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                        Save Issue
                    </button>
                </div>
                <input type="hidden" name="projectKey"  id="projectKey" value='{{appkey}}'/>
                <div class="clearfix"></div>
                <div id="push"></div>
                <div id="push"></div>
            </div>
        </div>
    </div><!-- /.container -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url "/themes/issuetracker/js/jquery-1.11.1/jquery.min.js"}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{url "/themes/issuetracker/js/bootstrap-3.2.0/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/issuetracker/js/datatables-1.10.7/jquery.dataTables.min.js"}}"></script>
<script src="{{url "/themes/issuetracker/js/datatables-1.10.7/jquery.dataTables.columnFilter.js"}}"></script>
<script src="{{url "/themes/issuetracker/js/select2-4.0.0/select2.min.js"}}"></script>
<!-- include custom js functions -->
<script src="{{url "/themes/issuetracker/js/custom/custom.js"}}"></script>
<script>
function formatState (state) {
        if (!state.id) { return state.text; }
        var $state;
        if(state.element.attributes['data-icon']){
            var $state = $(
                    '<span><i class="fa '+ state.element.attributes['data-icon'].value.toLowerCase() +'"></i>&nbsp;&nbsp;'
                    + state.text + '</span>'
            );
        }else{
            var $state = $(
                    '<span><i class="fa '+state.id.toLowerCase() +'"></i>&nbsp;&nbsp;'
                    + state.text + '</span>'
            );
        }
        return $state;
    };
    $('.select2').select2({
        templateResult: formatState,
        templateSelection :formatState
    });
</script>





