 

<header class="separator">
    <div class="content">
        {{#if isHome}}
        <div class="left">
            <h1 class="inline_box">Issues</h1><a href="/issuetracker/issue/add?appkey={{appkey}}" class="btn main head push_left_40">New Issue</a>
        </div>
        {{else}}
        <div class="left">
            <h1 class="inline_box"><a href="/issuetracker?appkey={{appkey}}">Issues</a> > {{title}}</h1>
        </div>
        {{/if}}
    </div>
        {{#if helpTip}}    
    
   <div style="clear:both"></div>
    <div>
		<hr style="border-color:#62D9EF; margin-top: 0px; margin-bottom: 0px;">
        <section class="help-section-top" style=" max-width: 1100px;">
		<div id="contextualHelp"><p>{{helpTip}}</p></div>
		</section>
    </div>
    {{/if}}
</header>
