<section class="separator">
    <div class="content well">
 <p></p>
        <table class="data-table">
            {{#if data}}
            <thead>
                <tr>
                    <th>Issue ID</th>
                    <th>Application</th>
                    <th>Summary</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Reporter</th>
                    <th>Status</th>
                    <th>Assignee</th>
                    <th>Version</th>
                    <th>Severity</th>
                    <th>Edit</th>
                    <th>Comment</th>
                </tr>
            </thead>
            {{else}}
                <div class="noData-message">No issues are created yet.</div>
            {{/if}}
            <tbody>
                {{#each data}}
                <tr>
                    <td><a href="{{url "/issue/get"}}?issuePkey={{issuePkey}}&appkey={{../appkey}}" >{{issuePkey}}</a></td>
                    <td>{{projectName}}</td>
                    <td>
                        <div class="list_col_content truncate issue_summary">
                            {{summary}}
                        </div>
                    </td>
                    <td>{{issueType}}</td>
                    <td>{{priority}}</td>
                    <td>{{owner}}</td>
                    <td>{{status}}</td>
                    <td>{{assignee}}</td>
                    <td>{{version}}</td>
                    <td>{{severity}}</td>
                    <td>
                        <a style="margin:0 5px" class="icon-pencil" href="{{url "/issue/edit"}}?issuePkey={{issuePkey}}&projectKey={{projectKey}}&appkey={{../appkey}}" ></a>
                    </td>
                    <td>
                            <a class="icon-comment" href="{{url "/issue/get"}}?issuePkey={{issuePkey}}&appkey={{../appkey}}" ></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>





