<!-- BOF App factory menu actionbar -->
    <div class="action-bar">
        <a href="#" class="btn-action">
                <span class="fw-stack fw-lg btn-action-ico">
                    <i class="fw fw-ring fw-stack-2x"></i>
                    <i class="fw fw-left-arrow fw-stack-1x"></i>
                </span> Back to Overview
        </a>
        <a href="/issuetracker/issue/add?appkey={{appkey}}" class="btn-action" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <span class="fw-stack fw-lg btn-action-ico">
                    <i class="fw fw-ring fw-stack-2x"></i>
                    <i class="fw fw-add fw-stack-1x"></i>
                </span> <span class="hidden-xs">Create New Issue</span>
        </a>
    </div><!-- EOF App factory menu actionbar-->

<div class="container-fluid app-content-section">
        <div class="row">
          <div class="col-md-12 msg-issues">
                OOO  You get a birds eye view of all the issues that have been created in applications where you are a member.
              Issue tracking for a application version provides you the ability to create new issues per application
              version, edit existing issues and search for issues based on a search criteria.sdfd
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="push"></div>
                {{#if data}}
                <div class="datatable">
                    <table id="issuelist" class="display" cellspacing="0" width="100%">         
                    <thead>
                        <tr>
                            <th>Issue</th>
                            <th>Summary</th>
                            <th>Version</th>
                            <th>Type</th>
                            <th>Priority</th>
                            <th>Severity</th>
                            <th>Status</th>
                            <th>Reporter</th>
                            <th>Assignee</th>
                            <th>Edit</th>
                            <th>Comment</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Version</td>
                            <td>Type</td>
                            <td>Priority</td>
                            <td>Severity</td>
                            <td>Status</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                     </table>
                </div>
                {{else}}
                      <div class="row row-centered">
                          <div class="col-centered col-xs-10 col-sm-7  col-md-7 col-lg-6">
                              <div class="add-issue-content">
                                  <a id="add-issue-button" class="cu-btn cu-btn-md cu-btn-blue" href="/issuetracker/issue/add?appkey={{appkey}}">
                                  <span class="fw-stack fw-lg btn-action-ico">
                                      <i class="fw fw-ring fw-stack-2x"></i>
                                      <i class="fw fw-add fw-stack-1x"></i>
                                  </span>
                                  <span class="hidden-xs">Report an Issue</span>
                                  </a>
                              </div>
                          </div>
                      </div> 
                {{/if}}
                <div class="clearfix"></div>
                <div id="push"></div>
                <div id="push"></div>
            </div>
        </div>
    </div><!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url "/themes/issuetracker/js/jquery-1.11.1/jquery.min.js"}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{url "/themes/issuetracker/js/bootstrap-3.2.0/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/issuetracker/js/datatables-1.10.7/jquery.dataTables.min.js"}}"></script>
<script src="{{url "/themes/issuetracker/js/datatables-1.10.7/jquery.dataTables.columnFilter.js"}}"></script>
<!-- include custom js functions -->
<script src="{{url "/themes/issuetracker/js/custom/custom.js"}}"></script>
<script>
    $('.side-pane-trigger').click(function(){
        var rightPane = $('.right-pane');
        var leftPane = $('.left-pane');
        if (rightPane.hasClass('visible')){
            rightPane.animate({"left":"0em"}, "slow").removeClass('visible');
            leftPane.animate({"left":"-18em"}, "slow");
            $(this).find('i').removeClass('fa-arrow-left').addClass('fa-reorder');
        } else {
            rightPane.animate({"left":"18em"}, "slow").addClass('visible');
            leftPane.animate({"left":"0em"}, "slow");
            $(this).find('i').removeClass('fa-reorder').addClass('fa-arrow-left');
        }
    });
    $('.datatable table').dataTable({
            responsive: true,
            "orderCellsTop": true,
            data: {{{data}}},
            "columns": [
                { "data": "issuePkey", "width": "5%"},
                { "data": "summary" , "width": "30%"},
                { "data": "version" , "width": "8%"},
                { "data": "issueTypeText", "width": "8%" },
                { "data": "issuePriorityText", "width": "8%" },
                { "data": "issueSeverityText", "width": "8%" },
                { "data": "issueStatusText" , "width": "8%"},
                { "data": "owner" , "width": "13%", "sClass" : "dt-body-right"},
                { "data": "assignee" , "width": "13%", "sClass" : "dt-body-right"},
                { "data": "edit", "orderable": false, "width": "4%", "sClass" : "dt-body-center" },
                { "data": "comment", "orderable": false, "width": "5%", "sClass" : "dt-body-center" }
            ]
        }).columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [
                null,
                null,
                { type: "select", values: {{{versions}}} },
                { type: "select", values: [ 'Bug', 'Task', 'New Feature', 'Improvement'] },
                { type: "select", values: [ 'Highest', 'High', 'Low', 'Lowest'] },
                { type: "select", values: [ 'Blocker', 'Critical', 'Non Critical'] },
                { type: "select", values: [ 'Open', 'Resolved', 'In Progress', 'Closed'] },
                { "bSortable": false },
                { "bSortable": false },
                null,
                null
            ]
        });
</script>

<!--EOF NEW UI -->


