<?xml version="1.0" encoding="ISO-8859-1"?>
<AppFactory xmlns="http://www.wso2.org/appfactory/">

    <WebContextRoot>appmgt</WebContextRoot>
    <AdminUserName><%= @adminuser_name %></AdminUserName>
    <AdminPassword><%= @adminuser_passwd %></AdminPassword>
    <AdminEmail></AdminEmail>
    <JenkinsServerAdminUsername><%= @jenkins_admin_user %></JenkinsServerAdminUsername>
    <JenkinsServerAdminPassword><%= @jenkins_admin_password %></JenkinsServerAdminPassword>
    <!-- Application creation delay in queue   -->
    <ApplicationCreatorDelay><%= @app_creation_delay %></ApplicationCreatorDelay>
    <!-- How many parellal executor invoke in the application creation processor --> 
    <ApplicationCreationExecutors>2</ApplicationCreationExecutors>
    <EmailSend>true</EmailSend>  
    <RegistrationLink><%= @af_registration_link %></RegistrationLink>
    <!--To Register in WSO2 Oxygen Tank
    <RegistrationLink>http://wso2.org/user/register</RegistrationLink-->
    <SignUpText>Sign up and start developing</SignUpText>
    <SignInText>Already a Member? Sign In.</SignInText>

    <!--
       In TenantRoles section, we define set of roles to be created in tenant space of AppFactory. Each role consist of a name and a comma separated permissions.
       When tenant is created above roles are created with given permissions. These permissions are associated with AppFactory controller.

       Permission string is defined as <deny:><resource>:<action>.
       eg; deny:/_system/governance/dependencies/:REGISTRY_GET, /permission/admin/login, CreateApplication/CreateApplication:invoke-service
       <deny:> - given permission is denied on given role. If <deny:> is not defined, it is considered as allow.
       <resource> - permission string
       <action> - if action is not defined, it is default value is 'ui.execute'. For registry actions, you can use predefined actions(REGISTRY_GET,REGISTRY_PUT,REGISTRY_DELETE)

       When users are registered in AppFactory, all users are added to DefaultUserRoles defined here.You can have multiple DefaultUserRoles.

       DisplayName is used only for rendering roles in AppFactory user interfaces.
    -->
    <TenantRoles>
        <DefaultUserRole name="appfactoryusers">
            <Permission>
                /permission/admin/login,
                /permission/admin/manage/api/subscribe,
                /permission/admin/manage/api/create,
                /permission/admin/manage/api/publish,
                /permission/admin/configure/governance,
                /permission/admin/manage/resources
            </Permission>
        </DefaultUserRole>
        <Role name="admin">
            <Permission>
                CreateApplication/CreateApplication:invoke-service,
                /permission/admin/appfactory/ceo/dashboard,
                /permission/admin/tenant/user/mgt
            </Permission>
        </Role>
        <Role name="cxo">
            <DisplayName>CXO</DisplayName>
            <Permission>
                /permission/admin/login,
                /permission/admin/appfactory/,
                /permission/admin/appfactory/ceo/dashboard
            </Permission>
        </Role>
        <Role name="globalAPIPublisher">
            <Permission>
                /_system/governance:REGISTRY_GET,
                /_system/governance:REGISTRY_PUT,
                /_system/governance:REGISTRY_DELETE,
                /permission/admin/configure/governance,
                /permission/admin/manage/api/create,
                /permission/admin/manage/api/publish,
                event/topics:subscribe,
                event/topics:publish
            </Permission>
        </Role>
        <Role name="developer">
            <DisplayName>Developer</DisplayName>
            <Permission>
                /permission/admin/login,
                /permission/admin/appfactory/develop,
                /permission/admin/appfactory/repository/readwrite,
                /permission/admin/appfactory/build,
                /permission/admin/appfactory/repository/branch,
                /permission/admin/appfactory/deployTo/Development,
                /permission/admin/appfactory/resources/create/Development,
                /permission/admin/appfactory/resources/read/Development,
                /permission/admin/appfactory/resources/update/Development,
                /permission/admin/appfactory/promoteTo/Testing,
                /permission/admin/appfactory/visibility/Development,
                /permission/admin/appfactory/visibility/Testing,
                /permission/admin/configure/rssmanager,
                /permission/admin/appfactory/configuration/apimanager
            </Permission>
        </Role>
        <Role name="devops">
            <DisplayName>DevOps</DisplayName>
            <Permission>
               	/permission/admin/login,					
                /permission/admin/appfactory/deployTo/Production,			
				/permission/admin/appfactory/resources/create/Production,
                /permission/admin/appfactory/resources/read/Production,
				/permission/admin/appfactory/resources/update/Production,
                /permission/admin/appfactory/resources/read/Testing,
                /permission/admin/appfactory/promoteTo/Production,
                /permission/admin/appfactory/demoteTo/Testing,
                /permission/admin/appfactory/retire,
                /permission/admin/appfactory/visibility/Production,
                /permission/admin/configure/rssmanager,
                /permission/admin/appfactory/configuration/apimanager
            </Permission>
        </Role>
        <Role name="qa">
            <DisplayName>QA</DisplayName>
            <Permission>
                /permission/admin/login,
                /permission/admin/appfactory/resources/create/Testing,
                /permission/admin/appfactory/resources/read/Testing,
				/permission/admin/appfactory/resources/update/Testing,
                /permission/admin/appfactory/resources/read/Development,                
                /permission/admin/appfactory/demoteTo/Development,
                /permission/admin/appfactory/visibility/Development,
                /permission/admin/appfactory/visibility/Testing,
                /permission/admin/appfactory/visibility/Production,
				/permission/admin/appfactory/deployTo/Testing,
                /permission/admin/configure/rssmanager,
                /permission/admin/appfactory/configuration/apimanager
            </Permission>
        </Role>
        <Role name="appowner">
            <DisplayName>Application Owner</DisplayName>
            <Permission>
               	/permission/admin/login,					
                /permission/admin/appfactory/develop,				
                /permission/admin/appfactory/application/create,
                /permission/admin/appfactory/repository/readwrite,
                /permission/admin/appfactory/build,
                /permission/admin/appfactory/repository/branch,
                /permission/admin/appfactory/resources/create/Development,
                /permission/admin/appfactory/resources/read/Development,
                /permission/admin/appfactory/resources/update/Development,
				/permission/admin/appfactory/resources/update/Testing,
				/permission/admin/appfactory/resources/read/Testing,
                /permission/admin/appfactory/deployTo/Development,
                /permission/admin/appfactory/deployTo/Testing,
                /permission/admin/appfactory/promoteTo/Testing,
                /permission/admin/appfactory/demoteTo/Development,
                /permission/admin/appfactory/demoteTo/Testing,
                /permission/admin/appfactory/visibility/Development,
                /permission/admin/appfactory/visibility/Testing,
                /permission/admin/appfactory/visibility/Production,
                /permission/admin/appfactory/usermgt/invite,
                /permission/admin/configure/rssmanager,
                /permission/admin/appfactory/configuration/apimanager
            </Permission>
        </Role>
    </TenantRoles>

    <!--SSO relying party configuration.-->
    <SSORelyingParty>
        <Name>APPFACTORY</Name>
        <AssertionConsumerService>https://<%= @af_subdomain %>.<%= @wso2_env_domain %>:9443/appmgt/jagg/jaggery_acs.jag</AssertionConsumerService>
 	<DashboardName>WSO2 AppFactory Dashboard</DashboardName>
        <IdentityProviderURL>https://identity.<%= @wso2_env_domain %>/samlsso</IdentityProviderURL>
        <KeyStorePassword><%= @af_keystore_passwd %></KeyStorePassword>
        <IdentityKeyAlias><%= @af_keystore_alias %></IdentityKeyAlias>
        <KeyStoreName><%=@carbon_home%>/repository/resources/security/wso2carbon.jks</KeyStoreName>
    </SSORelyingParty>

    <!-- Server URLs -->
    <ServerUrls>
        <AppFactory>https://<%= @af_subdomain %>.<%= @wso2_env_domain %>/services/</AppFactory>
        <BPS>https://process.<%= @wso2_env_domain %>:9444/services/</BPS>
        <Greg>https://<%= @af_subdomain %>.<%= @wso2_env_domain %>/services/</Greg>
    </ServerUrls>

    <!-- Issue tracker connector configs-->
    <IssueTrackerConnector name="issueTracker">
	    <Property name="Url">https://issue-tracker.<%= @wso2_env_domain %>/issuetracker-1.0.0/</Property>
	    <Property name="FrontUrl">https://issue-tracker.<%= @wso2_env_domain %>/issuetracker/</Property>
        <!-- Bigger number will result in higher priority -->
        <Property name="ListenerPriority">40</Property>
    </IssueTrackerConnector>

    <!-- Codenvy base URL -->
    <Codenvy>
        <Property name="Url">https://codenvy.com/factory/</Property>
        <Property name="ApiVersion">1.0</Property>
        <Property name="VcsType">git</Property>
    </Codenvy>
 

    <ApiManager>
        <DefaultTier>Unlimited</DefaultTier>
        <Server>
            <Url>http://apimanager.<%= @wso2_env_domain %></Url>
        </Server>
        <Store>
            <Url>http://apimanager.<%= @wso2_env_domain %>/store</Url>
        </Store>
        <Service>
            <Name>APIManagerIntegrationService</Name>
            <Namespace>http://integration.apiManager.appfactory.carbon.wso2.org</Namespace>
        </Service>
        <Keys>
            <Property name="Sandbox">Development</Property>
            <Property name="Sandbox">Testing</Property>
            <Property name="Prod">Production</Property>
        </Keys>
	<KeyConstants>	 	
	    <Constants name="Development">sandboxConsumerKey:sandboxKey:sandboxConsumerSecret</Constants>	 	
	    <Constants name="Testing">sandboxConsumerKey:sandboxKey:sandboxConsumerSecret</Constants>	 	
	    <Constants name="Production">prodConsumerKey:prodKey:prodConsumerSecret</Constants>	 	
	</KeyConstants>
    </ApiManager>


    <!-- BAM integration related configurations -->
    <BAM>
        <EnableStatPublishing>false</EnableStatPublishing>

        <!--
            Server URL of the remote BAM server used to collect statistics. Must
            be specified in protocol://hostname:port/ format.
        -->
	<BAMServerURL>tcp://<%= @receiver1_url %>:<%= @receiver_port %></BAMServerURL>

        <!--
            Administrator username to login to the remote BAM server.
        -->
        <BAMUserName><%= @receiver_username %></BAMUserName>

        <!--
            Administrator password to login to the remote BAM server.
        -->
        <BAMPassword><%= @receiver_password %></BAMPassword>

        <DashboardServer>
		<Url>https://dashboards.<%= @wso2_env_domain %>:9445</Url>
        </DashboardServer>
	
	<Dashboards>
                <PlatformAdminDashboard>
                        <Path>/PlatformDashboard</Path>
                </PlatformAdminDashboard>
                <TenantAdminDashboard>
                        <Path>/CXODashboard</Path>
                </TenantAdminDashboard>
                <TenantUserDashboard>
                        <Path>/UserDashboard</Path>
                </TenantUserDashboard>
        </Dashboards>

    </BAM>


    <!--Application repository related configurations-->

<!--If this value is true, you can select if the app should have per developer repo or share main repo. If this value is false, every app will share the main repo Default value is false  -->
    <EnablePerDeveloperRepos>false</EnablePerDeveloperRepos>
 
    <RepositoryProviderConfig name="git" enabled="true">
        <Property name="Class">
	    org.wso2.carbon.appfactory.git.repository.provider.GITBlitBasedGITRepositoryProvider
	</Property>
        <Property name="BaseURL">https://git.<%= @wso2_env_domain %>/</Property>
        <Property name="AdminUserName"><%= @source_control_git_admin_username %></Property>
        <Property name="AdminPassword"><%= @source_control_git_admin_password %></Property>
        <Property name="ReadWritePermission">/permission/admin/appfactory/repository/readwrite</Property>
        <Property name="DisplayName">Git</Property>
        <Property name="Provider">git</Property>
        <Property name="IsVersioningSupported">true</Property>
    </RepositoryProviderConfig>

    <!--<RepositoryProviderConfig name="svn" enabled="true">
        <Property name="Class">
            org.wso2.carbon.appfactory.webdavsvn.svn.repository.provider.Apache2WebDAVSVNRepositoryProvider
        </Property>
        <Property name="BaseURL">https://AF_HOST:8082</Property>
        <Property name="BackendURL">http://localhost:8081</Property>
        <Property name="AdminUserName"><%= @s2git_adminusername %></Property>
        <Property name="AdminPassword"><%= @s2git_adminpassword %></Property>
        <Property name="ReadWritePermission">/permission/admin/appfactory/repository/readwrite</Property>
        <Property name="DisplayName">SVN</Property>
        <Property name="Provider">svn</Property>
        <Property name="IsVersioningSupported">false</Property>
        <Property name="TrunkURLFormat">{@url}/trunk</Property>
        <Property name="BracnhURLFormat">{@url}/branches/{@version}</Property>
    </RepositoryProviderConfig-->


    <!--This element defines the set of staging servers, where the application applications are deployed. -->
    <!--Have commented out all the ESB related deployment configs for NOW -->
    <ApplicationDeployment>
        <!--
           In TenantRoles section, we define set of roles to be created in tenant space of Cloud runtime. Each role consist of a name and a comma separated permissions.
           When tenant is created above roles are created with given permissions. These permissions are associated with Cloud runtime(Development,Testing,Production) defined below.

           Permission string is defined as <deny:><resource>:<action>.
           eg; deny:/_system/governance/dependencies/:REGISTRY_GET, /permission/admin/login, CreateApplication/CreateApplication:invoke-service
           <deny:> - given permission is denied on given role. If <deny:> is not defined, it is considered as allow.
           <resource> - permission string
           <action> - if action is not defined, it is default value is 'ui.execute'. For registry actions, you can use predefined actions(REGISTRY_GET,REGISTRY_PUT,REGISTRY_DELETE)

           When users are registered in AppFactory, all users are added to DefaultUserRoles defined here.You can have multiple DefaultUserRoles.
        -->

        <DeploymentStage name="Development">
            <TenantRoles>
                <Role name="admin">
                    <Permission>
                        CreateApplication/CreateApplication:invoke-service,
                        /permission/admin/tenant/user/mgt
                    </Permission>
                </Role>
                <Role name="everyone">
                    <Permission>
                        deny:/_system/governance/dependencies/:REGISTRY_GET,
                        deny:/_system/governance/dependencies/:REGISTRY_PUT,
                        deny:/_system/governance/dependencies/:REGISTRY_DELETE,
                        deny:/_system/governance/dependencies/:authorize
                    </Permission>
                </Role>
                <Role name="developer">
                    <Permission>
                        /permission/admin/login,
                        /permission/admin/manage/modify/webapp,
                        /permission/admin/configure/rssmanager,
                        /permission/admin/manage/resources/ws-api,
                        /permission/admin/configure/datasources,
                        /permission/admin/manage/resources/govern/lifecycles,
                        /permission/admin/monitor/logging,
						/permission/admin/appfactory/resources/create/Development,
						/permission/admin/appfactory/resources/read/Development,
                		/permission/admin/appfactory/resources/update/Development
                    </Permission>
                </Role>
	    <Role name="qa">            
		    <Permission>
			/permission/admin/login,
		        /permission/admin/manage/resources/ws-api,
			/permission/admin/configure/datasources,
			/permission/admin/appfactory/resources/read/Development,
			/permission/admin/appfactory/deployTo/Testing
			</Permission>
		</Role>
                <Role name="appowner">
                    <Permission>
                        /permission/admin/login,
                        /permission/admin/manage/modify/webapp,
                        /permission/admin/configure/rssmanager,
                        /permission/admin/manage/resources/ws-api,
                        /permission/admin/configure/datasources,
                        /permission/admin/manage/resources/govern/lifecycles,
						/permission/admin/appfactory/resources/create/Development,
                		/permission/admin/appfactory/resources/update/Development,
						/permission/admin/appfactory/resources/read/Development,
						/permission/admin/configure/security,
                        /permission/admin/monitor/logging
                    </Permission>
                </Role>
            </TenantRoles>
        <Deployer>
                <ApplicationType name="*">

                        <ClassName>org.wso2.carbon.appfactory.jenkins.deploy.JenkinsArtifactDeployer</ClassName>
                        <Endpoint>https://sc.dev.<%= @wso2_env_domain %>:<%= @adc_server_port %>/services/</Endpoint>
                         <RepositoryProvider>
                            <Property name="Class">
                           	org.wso2.carbon.appfactory.s4.integration.GITBlitBasedGITRepositoryProvider
			    </Property>
                            <Property name="BaseURL">https://<%= @s2gitblit_server %>/</Property>
                            <Property name="URLPattern">{@stage}/as</Property>
                            <Property name="AdminUserName"><%= @s2git_adminusername %></Property>
                            <Property name="AdminPassword"><%= @s2git_adminpassword %></Property>
                        </RepositoryProvider>
                        <Properties>
                            <Property name="minInstances">1</Property>
                            <Property name="maxInstances">1</Property>
                            <Property name="shouldActivate"></Property>
                            <Property name="alias"><%= @as_cartridge_dev_alias %></Property>
                            <Property name="cartridgeType"><%= @as_cartridge_dev_type %></Property>
                            <Property name="deploymentPolicy">af-deployment</Property>
			    <Property name="autoscalePolicy">economy</Property>
			    <Property name="repoURL"></Property>
                            <Property name="dataCartridgeType"></Property>
                            <Property name="dataCartridgeAlias"></Property>
                        </Properties>

                </ApplicationType>
	
            </Deployer>
    
	<AllowDirectDeploy>true</AllowDirectDeploy>
    <!--if autodeployment is enabled, the selected versions to autodeploy will be built and deployed after every commit-->
	    <AutomaticDeployment enabled="true">
				<!--time period to poll the repository-->
                <PollingPeriod>6</PollingPeriod>
            </AutomaticDeployment>
             <DeploymentArtifact>
                 <TriggerBuild>
                     <ArtifactStoragePolicy>Latest</ArtifactStoragePolicy> 
					<!-- Latest, Tagged artifact will be deployed -->
                 </TriggerBuild>
             </DeploymentArtifact>
             <Promote>
                 <DeploymentPolicy>Latest</DeploymentPolicy>
		<TargetStage>Testing</TargetStage>
                 <!-- Tagged/Promoted artifact will be deployed to the promoted stage-->
             </Promote>
            <CreateArtifact>Always</CreateArtifact>
            <ProcessEndPoint>https://process.<%= @wso2_env_domain %>/services/DeployToStage</ProcessEndPoint>
            <DeploymentServerURL>https://appserver.dev.<%= @wso2_env_domain %>/services/</DeploymentServerURL>
	    <LogServerURL>https://appserver.dev.<%= @wso2_env_domain %>/services/</LogServerURL>
            <MountPoint>dev</MountPoint>
	    <BaseAccessUrl>https://appserver.dev.<%= @wso2_env_domain %></BaseAccessUrl>
	    <TenantMgtUrl>https://sc.dev.<%= @wso2_env_domain %>:<%= @adc_server_port %></TenantMgtUrl>
            <Buildable>true</Buildable>
          <StorageServerUrl>https://<%= @ss_host %>:<%= @ss_port %>/services/</StorageServerUrl>
        <RssName>Development</RssName>

        </DeploymentStage>

        <DeploymentStage name="Testing">
 <TenantRoles>
                <Role name="admin">
                    <Permission>
                        CreateApplication/CreateApplication:invoke-service,
                        /permission/admin/tenant/user/mgt
                    </Permission>
                </Role>
                <Role name="everyone">
                    <Permission>
                        deny:/_system/governance/dependencies/:REGISTRY_GET,
                        deny:/_system/governance/dependencies/:REGISTRY_PUT,
                        deny:/_system/governance/dependencies/:REGISTRY_DELETE,
                        deny:/_system/governance/dependencies/:authorize
                    </Permission>
                </Role>
                <Role name="qa">
                    <Permission>
                        /permission/admin/login,
                        /permission/admin/manage/modify/webapp,
                        /permission/admin/configure/rssmanager,
                        /permission/admin/manage/resources/ws-api,
                        /permission/admin/configure/datasources,
                        /permission/admin/manage/resources/govern/lifecycles,
                        /permission/admin/monitor/logging,
						/permission/admin/appfactory/resources/create/Testing,
						/permission/admin/appfactory/resources/update/Testing,
						/permission/admin/appfactory/resources/read/Testing
                    </Permission>
                </Role>
                <Role name="devops">            
		           <Permission>
						/permission/admin/login,
		                /permission/admin/manage/resources/ws-api,
			        	/permission/admin/configure/datasources,
						/permission/admin/appfactory/resources/read/Testing
			       </Permission>
		        </Role>
                <Role name="appowner">
                    <Permission>
                        /permission/admin/login,
                        /permission/admin/manage/modify/webapp,
                        /permission/admin/configure/rssmanager,
                        /permission/admin/manage/resources/ws-api,
                        /permission/admin/configure/datasources,
                        /permission/admin/manage/resources/govern/lifecycles,                       
                		/permission/admin/appfactory/resources/update/Testing,
						/permission/admin/appfactory/resources/read/Testing,
						/permission/admin/configure/security,
                        /permission/admin/monitor/logging
                    </Permission>
                </Role>
            </TenantRoles>
 <Deployer>
                <ApplicationType name="*">

                        <ClassName>org.wso2.carbon.appfactory.jenkins.deploy.JenkinsArtifactDeployer</ClassName>
                        <Endpoint>https://sc.test.<%= @wso2_env_domain %>:<%= @adc_server_port %>/services/</Endpoint>
                         <RepositoryProvider>
                            <Property name="Class">
                                org.wso2.carbon.appfactory.s4.integration.GITBlitBasedGITRepositoryProvider
                        </Property>
                            <Property name="BaseURL">https://<%= @s2gitblit_server %>/</Property>
                            <Property name="URLPattern">{@stage}/as</Property>
                            <Property name="AdminUserName"><%= @s2git_adminusername %></Property>
                            <Property name="AdminPassword"><%= @s2git_adminpassword %></Property>
                        </RepositoryProvider>
                        <Properties>
                            <Property name="minInstances">1</Property>
                            <Property name="maxInstances">1</Property>
                            <Property name="shouldActivate"></Property>
                            <Property name="alias"><%= @as_cartridge_test_alias %></Property> <!--<%= @cartridge_dev_type %> is the value -->
                            <Property name="cartridgeType"><%= @as_cartridge_test_alias %></Property> <!--<%= @cartridge_dev_type %> is the value -->
                            <Property name="deploymentPolicy">af-deployment</Property>
			    <Property name="autoscalePolicy">economy</Property> <Property name="repoURL"></Property>
                            <Property name="dataCartridgeType"></Property>
                            <Property name="dataCartridgeAlias"></Property>
                        </Properties>

                </ApplicationType>
            </Deployer>
            
	<AllowDirectDeploy>true</AllowDirectDeploy>
            <AutomaticDeployment enabled="false">
                <PollingPeriod>6</PollingPeriod>
            </AutomaticDeployment>
            <DeploymentArtifact>
                <TriggerBuild>
                    <ArtifactStoragePolicy>Tagged</ArtifactStoragePolicy> <!-- Latest, Marked-->
                </TriggerBuild>
            </DeploymentArtifact>
            <Promote>
                <DeploymentPolicy>Promoted</DeploymentPolicy>
                <!-- Latest/Tagged artifact will be deployed to the promoted stage-->
		<TargetStage>Production</TargetStage>
            </Promote>
		<Demote>
			<TargetStage>Development</TargetStage>
		</Demote>
            <CreateArtifact>UserInput</CreateArtifact>
            <ProcessEndPoint>https://process.<%= @wso2_env_domain %>/services/DeployToStage</ProcessEndPoint>
            <DeploymentServerURL>https://appserver.test.<%= @wso2_env_domain %>/services/</DeploymentServerURL>
	    <LogServerURL>https://appserver.test.<%= @wso2_env_domain %>/services/</LogServerURL>
            <MountPoint>test</MountPoint>
	    <BaseAccessUrl>https://appserver.test.<%= @wso2_env_domain %></BaseAccessUrl>
	    <TenantMgtUrl>https://sc.test.<%= @wso2_env_domain %>:<%= @adc_server_port %></TenantMgtUrl>
		<Buildable>false</Buildable>       
 		<StorageServerUrl>https://<%= @ss_host %>:<%= @ss_port %>/services/</StorageServerUrl>
                <RssName>Testing</RssName>
 	</DeploymentStage>
              
        <DeploymentStage name="Production">
    <TenantRoles>
                <Role name="admin">
                    <Permission>
                        CreateApplication/CreateApplication:invoke-service,
                        /permission/admin/tenant/user/mgt
                    </Permission>
                </Role>
                <Role name="everyone">
                    <Permission>
                        deny:/_system/governance/dependencies/:REGISTRY_GET,
                        deny:/_system/governance/dependencies/:REGISTRY_PUT,
                        deny:/_system/governance/dependencies/:REGISTRY_DELETE,
                        deny:/_system/governance/dependencies/:authorize
                    </Permission>
                </Role>
                <Role name="devops">
                    <Permission>
                        /permission/admin/login,
                        /permission/admin/manage/modify/webapp,
                        /permission/admin/configure/rssmanager,
                        /permission/admin/manage/resources/ws-api,
                        /permission/admin/configure/datasources,
                        /permission/admin/manage/resources/govern/lifecycles,
                        /permission/admin/monitor/logging,
						/permission/admin/appfactory/resources/create/Production,
						/permission/admin/appfactory/resources/update/Production,
						/permission/admin/appfactory/resources/read/Production
                    </Permission>
                </Role>
                <Role name="appowner">
                    <Permission>
                        /permission/admin/configure/security
                    </Permission>
                </Role>
            </TenantRoles>
         <Deployer>
                <ApplicationType name="*">

                        <ClassName>org.wso2.carbon.appfactory.jenkins.deploy.JenkinsArtifactDeployer</ClassName>
                        <Endpoint>https://sc.<%= @wso2_env_domain %>:<%= @adc_server_port %>/services/</Endpoint>
                         <RepositoryProvider>
                            <Property name="Class">
                                org.wso2.carbon.appfactory.s4.integration.GITBlitBasedGITRepositoryProvider
                            </Property>
                            <Property name="BaseURL">https://<%= @s2gitblit_server %>/</Property>
                            <Property name="URLPattern">{@stage}/as</Property>
                            <Property name="AdminUserName"><%= @s2git_adminusername %></Property>
                            <Property name="AdminPassword"><%= @s2git_adminpassword %></Property>
                        </RepositoryProvider>
                        <Properties>
                            <Property name="minInstances">1</Property>
                            <Property name="maxInstances">1</Property>
                            <Property name="shouldActivate"></Property>
                            <Property name="alias">asprod</Property> 
                            <Property name="cartridgeType">asprod</Property> 
                            <Property name="deploymentPolicy">af-deployment</Property>
			    <Property name="autoscalePolicy">economy</Property><Property name="repoURL"></Property>
                            <Property name="dataCartridgeType"></Property>
                            <Property name="dataCartridgeAlias"></Property>
                        </Properties>

                </ApplicationType>
		            <ApplicationType name="esb">

                        <ClassName>org.wso2.carbon.appfactory.jenkins.deploy.JenkinsArtifactDeployer</ClassName>
                        <Endpoint>https://sc.<%= @wso2_env_domain %>:<%= @adc_server_port %>/services/</Endpoint>
                         <RepositoryProvider>
                            <Property name="Class">
                                org.wso2.carbon.appfactory.s4.integration.GITBlitBasedGITRepositoryProvider
                            </Property>
                            <Property name="BaseURL">https://<%= @s2gitblit_server %>/</Property>
                            <Property name="URLPattern">{@stage}/esb</Property>
                            <Property name="AdminUserName"><%= @s2git_adminusername %></Property>
                            <Property name="AdminPassword"><%= @s2git_adminpassword %></Property>
                        </RepositoryProvider>
                        <Properties>
                            <Property name="minInstances">1</Property>
                            <Property name="maxInstances">1</Property>
                            <Property name="shouldActivate"></Property>
                            <Property name="alias">esbprod</Property> 
                            <Property name="cartridgeType">esbprod</Property> 
                            <Property name="deploymentPolicy">af-deployment</Property>
			    <Property name="autoscalePolicy">economy</Property><Property name="repoURL"></Property>
                            <Property name="dataCartridgeType"></Property>
                            <Property name="dataCartridgeAlias"></Property>
                        </Properties>

                </ApplicationType>
            </Deployer>
    
     	<AllowDirectDeploy>true</AllowDirectDeploy>
	    <AutomaticDeployment enabled="false">
                <PollingPeriod>6</PollingPeriod>
            </AutomaticDeployment>
            <DeploymentArtifact>
                <PersistedArtifacts>Tagged</PersistedArtifacts>
            </DeploymentArtifact>
		
       	<Demote>
		      	<TargetStage>Testing</TargetStage>
	    	</Demote>
            <CreateArtifact>Never</CreateArtifact>
            <ProcessEndPoint>https://process.<%= @wso2_env_domain %>/services/DeployToStage</ProcessEndPoint>
            <DeploymentServerURL>https://appserver.<%= @wso2_env_domain %>/services/</DeploymentServerURL>
	    <LogServerURL>https://appserver.<%= @wso2_env_domain %>/services/</LogServerURL>
            <MountPoint>prod</MountPoint>
            <BaseAccessUrl>https://appserver.<%= @wso2_env_domain %></BaseAccessUrl>
	    <TenantMgtUrl>https://sc.<%= @wso2_env_domain %>:<%= @adc_server_port %></TenantMgtUrl>
            <Semantic>Production</Semantic>        
            <Buildable>false</Buildable>
            <StorageServerUrl>https://<%= @ss_host %>:<%= @ss_port %>/services/</StorageServerUrl>
            <RssName>Production</RssName>
       </DeploymentStage>
    </ApplicationDeployment>

    <ApplicationType name="war">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.MavenBasedApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">Web Application</Property>
        <Property name="Extension">war</Property>
        <Property name="Description">Web Application Archive file</Property>
        <Property name="Buildable">true</Property>
        <Property name="BuildJobTemplate">maven</Property>
	<Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.webapparchetype
                -DarchetypeArtifactId=webapp-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT -DinteractiveMode=false
                -DarchetypeCatalog=local
	</Property>
	<Property name="ServerDeploymentPaths">webapps</Property>
	<Property name="Enable">enabled</Property>
        <!-- Property name="Comment"></Property -->
        <Property name="SubscriptionAvailability">aPaaS</Property>
    </ApplicationType>
    <ApplicationType name="jaxrs">
        <DisplayName>JAX-RS Application</DisplayName>
        <Extension>war</Extension>
        <Description>JAX-RS Service Web Application Archive file</Description>
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.MavenBasedApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">JAX-RS Application</Property>
        <Property name="Extension">war</Property>
        <Property name="Description">JAX-RS Application</Property>
        <Property name="Buildable">true</Property>
        <Property name="BuildJobTemplate">maven</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.jaxrsarchetype
            -DarchetypeArtifactId=jaxrs-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
	<Property name="ServerDeploymentPaths">webapps</Property>
	<Property name="Enable">enabled</Property>
        <!-- Property name="Comment"></Property -->
        <Property name="SubscriptionAvailability">aPaaS</Property>
    </ApplicationType>
    <ApplicationType name="jaxws">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.MavenBasedApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">JAX-WS Application</Property>
        <Property name="Extension">war</Property>
        <Property name="Description">JAX-WS Service Web Application Archive file</Property>
        <Property name="Buildable">true</Property>
        <Property name="BuildJobTemplate">maven</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.jaxwsarchetype
            -DarchetypeArtifactId=jaxws-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
	<Property name="ServerDeploymentPaths">webapps</Property>
	<Property name="Enable">enabled</Property>
        <!-- Property name="Comment"></Property -->
        <Property name="SubscriptionAvailability">aPaaS</Property>
    </ApplicationType>
    <ApplicationType name="jaggery">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.MavenBasedApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">Jaggery Application</Property>
        <Property name="Extension">war</Property>
        <Property name="Description">Applications with server-side and client-side in Java Script
            <a>http://jaggeryjs.org/</a>
        </Property>
        <Property name="Buildable">false</Property>
        <Property name="BuildJobTemplate">maven</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.jaggeryarchetype
            -DarchetypeArtifactId=jaggery-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
	<Property name="ServerDeploymentPaths">jaggeryapps</Property>
	<Property name="Enable">enabled</Property>
        <!-- Property name="Comment"></Property -->
        <Property name="SubscriptionAvailability">aPaaS</Property>
    </ApplicationType>
    <ApplicationType name="dbs">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.DataServiceApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">DataService</Property>
        <Property name="Extension">dbs</Property>
        <Property name="Description">Data as a Service</Property>
	<Property name="Buildable">false</Property>
        <Property name="BuildJobTemplate">maven</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.dbsarchetype
            -DarchetypeArtifactId=dbs-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
        <Property name="ServerDeploymentPaths">dataservices,servicemetafiles</Property>
	<Property name="Enable">enabled</Property>
        <!-- Property name="Comment"></Property -->
        <Property name="SubscriptionAvailability">aPaaS</Property>
    </ApplicationType>
    <!--<ApplicationType name="bpel">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.BPELApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">BPEL</Property>
        <Property name="Extension">zip</Property>
        <Property name="Description">>BPEL process Zip file</Property>
        <Property name="Buildable">false</Property>
        <Property name="BuildJobTemplate">maven</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.bpelarchetype
            -DarchetypeArtifactId=bpel-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
        <Property name="Enable">enabled</Property>-->
        <!-- Property name="Comment"></Property -->
        <!--<Property name="SubscriptionAvailability">iPaaS</Property>
    </ApplicationType>-->
    <!--<ApplicationType name="php">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.PHPApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">PHP</Property>
        <Property name="Extension">none</Property>
        <Property name="Description">php web application</Property>
        <Property name="BuildJobTemplate">maven</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.phparchetype
            -DarchetypeArtifactId=php-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
	<Property name="Enable">enabled</Property>
        <Property name="SubscriptionAvailability">aPaaS</Property>
    </ApplicationType>-->
    <ApplicationType name="esb">
        <Property name="ProcessorClassName">
            org.wso2.carbon.appfactory.utilities.application.type.ESBApplicationTypeProcessor
        </Property>
        <Property name="DisplayName">ESB</Property>
        <Property name="Extension">xml</Property>
        <Property name="Description">ESB Service</Property>
	<Property name="Buildable">true</Property>
        <Property name="BuildJobTemplate">freestyle</Property>
        <Property name="MavenArcheTypeRequest">-DarchetypeGroupId=org.wso2.carbon.appfactory.maven.esbarchetype
            -DarchetypeArtifactId=esb-archetype -DarchetypeVersion=1.1.0 -DgroupId=org.wso2.af -Dversion=default-SNAPSHOT
            -DinteractiveMode=false -DarchetypeCatalog=local
        </Property>
        <Property name="Enable">enabled</Property>
        <Property name="ServerDeploymentPaths">synapse-configs</Property> 
        <!-- Property name="Comment"></Property -->
        <Property name="SubscriptionAvailability">iPaaS</Property>
   </ApplicationType>
    <!-- API-Token should be set according to the running instance of Jenkins-->
    <ContinuousIntegrationProvider name="jenkins" enabled="true">
	<Property name="BaseURL">https://jenkins.<%= @wso2_env_domain %></Property>
        <Property name="Authenticate">true</Property>
        <Property name="Maven3ConfigName">m3</Property>
        <Property name="DefaultGlobalRoles">readonly</Property>
<Property name="ProjectRolePermissions">hudson.model.Item.Configure,hudson.model.Item.Build,hudson.model.Item.Workspace,hudson.model.Item.Read</Property>  
      <Property name="ListenerPriority">50</Property>
        <Property name="ResourceUserId">admin</Property>
        <Property name="API-Token">7ea3f81bbe068aab15690c443ae1ae2c</Property>
	<Property name="ClientConnectionCount">100</Property>
    </ContinuousIntegrationProvider>
  <OtherServices>
        <Service name="ViewVC">
            <Link>http://www.viewvc.org/</Link>
            <Description>Browse the repository, view files, display diffs between versions.</Description>
            <Title>ViewVC</Title>
        </Service>
        <Service name="Forums">
            <Link>http://www.forums.com/</Link>
            <Description>Let the app users hold conversations in the form of posted messages.</Description>
            <Title>Forums</Title>
        </Service>
        <ShowOtherServicesTab>false</ShowOtherServicesTab>
    </OtherServices>

 <LCButton>
        <PromoteButton>
            <Key>Promote</Key>
            <Value>Promote</Value>
        </PromoteButton>
        <DemoteButton>
            <Key>Demote</Key>
            <Value>Demote</Value>
        </DemoteButton>
        <RetireButton>
            <Key>Retire</Key>
            <Value>Retire</Value>
        </RetireButton>
    </LCButton>
	<!-- This is used to create an event buffer with this number of elements-->
	<!-- two buffers will be created with this size to store application and user events-->
	<EventBufferSize>32</EventBufferSize>
	<EnableSonar>true</EnableSonar>
    <SonarURL>http://localhost:9000</SonarURL>
    <EnableUserSearch>true</EnableUserSearch>
    <CookieRefreshInterval>300000</CookieRefreshInterval>
    <SampleDbHostUrl>mysql_1.<%= @wso2_env_domain %></SampleDbHostUrl>
    <DatabaseUserDefaultPassword>root</DatabaseUserDefaultPassword>
     <STS>
        <Epr>
            <serviceslocation>https://identity.<%= @wso2_env_domain%>/services</serviceslocation>
            <servicename>/wso2carbon-sts</servicename>
            <tenantlocationtemplate>/t/{tenantdomain}</tenantlocationtemplate>
        </Epr>
        <STSSubjectConfirmationMethod>b</STSSubjectConfirmationMethod>
        <STSAllowedUserGroups>appfactoryusers</STSAllowedUserGroups>
        <ScenarioID>scenario1</ScenarioID>
        <PolicyFile>sts-policy-ut.xml</PolicyFile>
        <Cliams>http://wso2.org/claims</Cliams>
        <ClaimUris>http://wso2.org/claims/givenname,http://wso2.org/claims/emailaddress</ClaimUris>
        <ClaimNamespace>http://schemas.xmlsoap.org/ws/2005/05/identity</ClaimNamespace>
    </STS>
</AppFactory>

